extends layout

block content
  //- image(src="http://localhost:3000/images/apex.png", alt="Apex Overlay PNG", style="width:1920px; height:1080px;")
  //- image(src="http://localhost:3000/images/apex.png", alt="Apex Overlay PNG")
  div(class="slideone") HELLO WORLD!
  div(class="slidetwo") SLIDE TWO
  div(class="slidethree") SLIDE THREE
